<html>
<head>
<style>
}
h1{
border:1px solid black;10px dashed black;
padding:50px;
}
p {
background-color:red
}
</head>
</style>
<body>
<h1> Hey uki</h1>
<p> welcome</p>
<table>
<tr>
<th>name</th>
<th>age</th>
</tr>
<tr>
<th>thaya</th>
<th>19</th>
</tr>

</body>
</html>
